@page "/"

@inject IEncuestaService encuestaService
@inject IJSRuntime js
@inject SweetAlertService Swal

<div class="card component border border-3 shadow" style="animation: slideInLeft 0.5s; animation-delay: 0.1s;">
    @if (preguntas.Count > 0 && preguntaActual >= 0 && preguntaActual < preguntas.Count)
    {
        <h3 class="component border border-3 shadow card-footer text-center" Style="animation: slideInLeft 0.5s; animation-delay: 0.1s;">Encuesta</h3>
        <h4 class="border border-3 shadow card-footer text-center component" Style="animation: slideInLeft 0.5s; animation-delay: 0.2s;">Pregunta @(preguntaActual + 1): @preguntas[preguntaActual].Enunciado</h4>
        <br/>
        <div Style="animation: slideInLeft 0.5s; animation-delay: 0.3s;">
            @for (int i = 0; i < preguntas[preguntaActual].Opciones.Count; i++)
            {
                var opcion = preguntas[preguntaActual].Opciones[i];
                var isSelected = preguntas[preguntaActual].OpcionesSeleccionadas.Any(o => o.Opcion == opcion && o.Seleccionada);
                var inicioRespuesta = opcion.Split(',')[0];
                var restoRespuesta = opcion.Substring(inicioRespuesta.Length);


                <label class="form-check-label container">
                    <input type="radio" name="respuestaActual" id="@($"opcion_{preguntaActual}_{i}")" class="form-check-input @((isSelected) ? "checkbox-border-purple" : "")" value="@opcion" @onchange="() => ResponderPregunta(preguntas[preguntaActual], opcion)" checked="@isSelected" />
                    <label class="form-check-label" for="@($"opcion_{preguntaActual}_{i}")">
                        <span style="font-weight: bold; color: black;">@inicioRespuesta</span>@restoRespuesta
                    </label>
                </label>
            }
        </div>
        <RadzenStack AlignItems="AlignItems.Center" Class="rz-m-12" Gap="2rem">
            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" Wrap="FlexWrap.Wrap">
                <RadzenProgressBarCircular ProgressBarStyle="ProgressBarStyle.Primary" Value="valorProgreso"/>
            </RadzenStack>
        </RadzenStack>
        <br/>
        <div class="shadow card-footer border border-3 d-flex justify-content-center" Style="animation: slideInLeft 0.5s; animation-delay: 0.4s;">
            <button class="btn btn-success" @onclick="SiguientePregunta">Siguiente</button>
        </div>
    }
    else if (preguntaActual == preguntas.Count)
    {
        <br/>
        <div class="text-center card-footer shadow border border-5" Style="animation: slideInLeft 0.5s; animation-delay: 0.1s;">
            <br/>
            <h2>Resultado</h2>
            <br/>
        </div>
        <br/>
        <div class="text-center card-footer shadow border border-5" Style="animation: slideInLeft 0.5s; animation-delay: 0.2s;">
            <br/>
            <h3>Porcentaje de factibilidad: @CalcularPorcentajeFactibilidad()%</h3>
            <br/>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width:@CalcularPorcentajeFactibilidad()%;" aria-valuenow="@CalcularPorcentajeFactibilidad()" aria-valuemin="0" aria-valuemax="100">@CalcularPorcentajeFactibilidad()%</div>
            </div>
        </div>
        <br/>
        <div class="text-center card-footer shadow border border-5" Style="animation: slideInLeft 0.5s; animation-delay: 0.3s;">
        <br/>
        <h3>El negocio es @CalcularFactibilidadNegocio().</h3>
        <br/>
        </div>
    }
</div>

@*S cr*@
<style>
    .container {
        display: flex;
        margin-left: 20px;
        justify-content: flex-start;
        gap: 20px; 
    }
    .checkbox-animation {
        transition: background-color 0.3s ease;
        border: 2px solid #9c27b0;
    }
</style>

@code {

    private int preguntaActual = 0;
    double valorProgreso = 0;
    int totalPreguntas = 20;

    protected override async Task OnInitializedAsync()
    {
        await NotificatiónInicio();
    } 

    private void ResponderPregunta(Preguntas pregunta, string opcion)
    {
        var opcionSeleccionada = pregunta.OpcionesSeleccionadas.FirstOrDefault(o => o.Opcion == opcion);

        if (opcionSeleccionada != null)
        {
            opcionSeleccionada.Seleccionada = true;
            opcionSeleccionada.Porcentaje = pregunta.Opciones.Count - pregunta.Opciones.IndexOf(opcion) - 1;
        }
        else
        {
            pregunta.OpcionesSeleccionadas.Add(new OpcionSeleccionada { Opcion = opcion, Seleccionada = true, Porcentaje = pregunta.Opciones.Count - pregunta.Opciones.IndexOf(opcion) - 1 });
        }
    }

    private List<Preguntas> preguntas = new List<Preguntas>
    {
        new Preguntas
        {
            Enunciado = "¿Cuáles serían tus principales competidores en el mercado local?",
            Opciones = new List<string>
            {
                "Otras ferreterías establecidas, que ya cuentan con una base de clientes.",
                "Grandes cadenas de ferreterías, con mayor alcance y capacidad de compra.",
                "Tiendas de mejoras para el hogar, que ofrecen una amplia gama de productos similares.",
                "Vendedores en línea, que pueden competir en precios y comodidad."
            }
        },
        new Preguntas
        {
            Enunciado = "¿Qué productos específicos consideras esenciales para ofrecer en tu ferretería?",
            Opciones = new List<string>
            {
                "Herramientas manuales, como martillos, destornilladores y alicates.",
                "Materiales de construcción, como cemento, ladrillos y arena.",
                "Pinturas y acabados, para proyectos de decoración y mantenimiento.",
                "Artículos de plomería y electricidad, como tuberías y cables eléctricos."
            }
        },
        new Preguntas
        {
            Enunciado = "¿Cómo planificas atraer a nuevos clientes a tu ferretería?",
            Opciones = new List<string>
            {
                "Publicidad local, mediante volantes, anuncios en periódicos o radio.",
                "Presencia en línea, con un sitio web y redes sociales para llegar a clientes digitales.",
                "Descuentos y promociones especiales para clientes nuevos.",
                "Participación en eventos comunitarios y ferias locales."
            }
        },
        new Preguntas
        {
            Enunciado = "¿Qué estrategias utilizarías para fidelizar a tus clientes actuales?",
            Opciones = new List<string>
            {
                "Programa de lealtad, ofreciendo recompensas y descuentos a clientes frecuentes.",
                "Atención al cliente excepcional, brindando asesoramiento experto y soluciones personalizadas.",
                "Enviar boletines y correos electrónicos con ofertas especiales y novedades.",
                "Organizar eventos exclusivos y capacitaciones para clientes habituales."
            }
        },
        new Preguntas
        {
            Enunciado = "¿Qué canales de distribución utilizarías para vender tus productos?",
            Opciones = new List<string>
            {
                "Tienda física, ofreciendo una experiencia de compra personalizada y asesoramiento en el lugar.",
                "Tienda en línea, para llegar a clientes que prefieren comprar desde casa.",
                "Distribuidores locales, para ampliar la presencia de tus productos en otras tiendas.",
                "Venta a contratistas y empresas de construcción, que compran a granel para proyectos."
            }
        },
        new Preguntas
        {
            Enunciado = "¿Qué métodos de pago ofrecerías a tus clientes?",
            Opciones = new List<string>
            {
                "Efectivo, aceptando pagos en efectivo en la tienda.",
                "Tarjetas de crédito y débito, para mayor comodidad y opciones de pago.",
                "Pago móvil, permitiendo transacciones a través de dispositivos móviles.",
                "Crédito para clientes frecuentes y empresas, con opciones de pago a plazos."
            }
        },
        new Preguntas
        {
            Enunciado = "¿Qué estrategias emplearías para gestionar tu inventario?",
            Opciones = new List<string>
            {
                "Sistema de inventario automatizado, que registre las existencias y genere alertas de reposición.",
                "Realizar inventarios físicos periódicos para verificar las existencias.",
                "Establecer acuerdos de suministro con proveedores para garantizar disponibilidad de productos.",
                "Aplicar técnicas de gestión de inventario ABC para enfocarse en los productos más vendidos."
            }
        },
        new Preguntas
        {
            Enunciado = "¿Cómo te asegurarías de mantener una variedad de productos para satisfacer las necesidades de los clientes?",
            Opciones = new List<string>
            {
                "Realizar análisis de mercado para identificar tendencias y demandas del cliente.",
                "Establecer alianzas con proveedores que ofrezcan una amplia gama de productos.",
                "Estar atento a las sugerencias y peticiones de los clientes para ampliar el inventario.",
                "Realizar encuestas a los clientes para conocer sus preferencias y necesidades."
            }
        },
        new Preguntas
        {
            Enunciado = "¿Qué estrategias utilizarías para ofrecer precios competitivos?",
            Opciones = new List<string>
            {
                "Negociar con proveedores para obtener mejores condiciones de compra.",
                "Comparar los precios de la competencia para ajustar tus precios.",
                "Ofrecer descuentos por volumen de compra o promociones por tiempo limitado.",
                "Implementar una política de precios bajos y garantía de igualación de precios."
            }
        },
        new Preguntas
        {
            Enunciado = "¿Qué medidas de seguridad implementarías en tu ferretería?",
            Opciones = new List<string>
            {
                "Sistemas de cámaras de seguridad para monitorear la tienda y prevenir robos.",
                "Entrenar al personal en medidas de seguridad y prevención de pérdidas.",
                "Utilizar etiquetas de seguridad y sistemas antihurto para proteger productos.",
                "Instalar alarmas y sistemas de acceso controlado para proteger áreas restringidas."
            }
        },
        new Preguntas
        {
            Enunciado = "¿Qué estrategias utilizarías para mejorar la eficiencia y productividad de tu ferretería?",
            Opciones = new List<string>
            {
                "Capacitación constante para el personal en habilidades de ventas y servicio al cliente.",
                "Automatizar procesos, como el registro de ventas y gestión de inventario.",
                "Establecer metas y objetivos claros para el personal y reconocer su desempeño.",
                "Realizar análisis de datos para identificar oportunidades de mejora en la operación."
            }
        },
        new Preguntas
        {
            Enunciado = "¿Qué servicios adicionales ofrecerías para agregar valor a tu ferretería?",
            Opciones = new List<string>
            {
                "Servicio de entrega a domicilio para clientes que compran productos pesados o voluminosos.",
                "Asesoría técnica para clientes que requieren orientación en proyectos específicos.",
                "Servicios de corte y ajuste de materiales para adaptarlos a las necesidades de los clientes.",
                "Organización de talleres y capacitaciones para brindar conocimientos útiles a los clientes."
            }
        },
        new Preguntas
        {
            Enunciado = "¿Cómo te asegurarías de mantener un buen nivel de inventario sin excedentes?",
            Opciones = new List<string>
            {
                "Realizar un seguimiento continuo de las ventas para ajustar los pedidos a la demanda.",
                "Negociar plazos flexibles con proveedores para recibir entregas según las necesidades.",
                "Establecer un sistema de rotación de inventario para dar prioridad a los productos más antiguos.",
                "Ofrecer descuentos y promociones en productos con exceso de inventario para estimular su venta."
            }
        },
        new Preguntas
        {
            Enunciado = "¿Qué estrategias utilizarías para atraer a clientes profesionales, como contratistas y constructores?",
            Opciones = new List<string>
            {
                "Ofrecer precios especiales y descuentos por volumen de compra.",
                "Proporcionar un servicio de atención rápida y personalizada para proyectos.",
                "Mantener un inventario amplio y variado para satisfacer las necesidades de construcción.",
                "Participar en eventos y ferias comerciales donde se reúnen clientes profesionales."
            }
        },
        new Preguntas
        {
            Enunciado = "¿Qué factores considerarías al seleccionar proveedores para tu ferretería?",
            Opciones = new List<string>
            {
                "Calidad de los productos y servicios ofrecidos por el proveedor.",
                "Capacidad del proveedor para cumplir con los plazos de entrega.",
                "Políticas de devolución y garantía ofrecidas por el proveedor.",
                "Precios competitivos y términos de pago favorables."
            }
        },
        new Preguntas
        {
            Enunciado = "¿Qué estrategias utilizarías para promocionar tu ferretería en línea?",
            Opciones = new List<string>
            {
                "Crear un sitio web atractivo y fácil de navegar con información completa de productos.",
                "Utilizar estrategias de SEO para mejorar el posicionamiento en motores de búsqueda.",
                "Publicar contenido relevante en redes sociales y promover ofertas exclusivas.",
                "Invertir en publicidad en línea, como anuncios en Google o redes sociales."
            }
        },
        new Preguntas
        {
            Enunciado = "¿Qué acciones emprenderías para fomentar una cultura de atención al cliente en tu ferretería?",
            Opciones = new List<string>
            {
                "Capacitar al personal en técnicas de servicio al cliente y resolución de problemas.",
                "Fomentar la empatía y el trato amable hacia los clientes en todas las interacciones.",
                "Establecer un sistema de retroalimentación para evaluar la satisfacción del cliente.",
                "Reconocer y premiar a los empleados que brindan un servicio excepcional."
            }
        },
        new Preguntas
        {
            Enunciado = "¿Cómo te asegurarías de cumplir con las normativas y regulaciones en la operación de tu ferretería?",
            Opciones = new List<string>
            {
                "Investigar y conocer las leyes y regulaciones aplicables al sector de ferreterías.",
                "Establecer procedimientos internos para garantizar el cumplimiento de las normativas.",
                "Mantener registros y documentación actualizada para demostrar el cumplimiento.",
                "Contratar asesoría legal o contable para asegurarte de estar al día con las obligaciones."
            }
        },
        new Preguntas
        {
            Enunciado = "¿Qué acciones emprenderías para fomentar una cultura de atención al cliente en tu ferretería?",
            Opciones = new List<string>
            {
                "Capacitar al personal en técnicas de servicio al cliente y resolución de problemas.",
                "Fomentar la empatía y el trato amable hacia los clientes en todas las interacciones.",
                "Establecer un sistema de retroalimentación para evaluar la satisfacción del cliente.",
                "Reconocer y premiar a los empleados que brindan un servicio excepcional."
            }
        },
        new Preguntas
        {
            Enunciado = "¿Cómo te asegurarías de cumplir con las normativas y regulaciones en la operación de tu ferretería?",
            Opciones = new List<string>
            {
                "Investigar y conocer las leyes y regulaciones aplicables al sector de ferreterías.",
                "Establecer procedimientos internos para garantizar el cumplimiento de las normativas.",
                "Mantener registros y documentación actualizada para demostrar el cumplimiento.",
                "Contratar asesoría legal o contable para asegurarte de estar al día con las obligaciones."
            }
        }
    };

    private async Task SiguientePregunta()
    {
        if (preguntas[preguntaActual].OpcionesSeleccionadas.Any(o => o.Seleccionada))
        {
            preguntaActual++;

            // Lógica para calcular el progreso actual
            valorProgreso = (double)preguntaActual / totalPreguntas * 100;

            // Redondear el valorProgreso a un número entero
            valorProgreso = Math.Round(valorProgreso);

            await GuardarEncuesta();
        }
        else
        {
            await js.MostrarMensaje("Selecciona una respuesta", "Pulsa sobre una respuesta para poder seguir con la encuesta", TipoMensajeSweetAlert.warning);
        }
    }

    private double CalcularPorcentajeFactibilidad()
    {
        int totalPreguntas = preguntas.Count;
        double totalSeleccionadas = 0;

        foreach (Preguntas pregunta in preguntas)
        {
            int porcentajeMayor = 0;

            foreach (OpcionSeleccionada opcionSeleccionada in pregunta.OpcionesSeleccionadas)
            {
                if (opcionSeleccionada.Seleccionada)
                {
                    if (opcionSeleccionada.Porcentaje > porcentajeMayor)
                    {
                        porcentajeMayor = opcionSeleccionada.Porcentaje;
                    }
                }
            }

            totalSeleccionadas += porcentajeMayor;
        }

        double porcentajeFactibilidad = (totalSeleccionadas / (preguntas.Count * (preguntas[0].Opciones.Count - 1))) * 100;
        int porcentajeEntero = (int)Math.Floor(porcentajeFactibilidad);

        return porcentajeEntero;
    }

    private string CalcularFactibilidadNegocio()
    {
        double porcentajeFactibilidad = CalcularPorcentajeFactibilidad();
        string factibilidadNegocio;

        if (porcentajeFactibilidad >= 75)
        {
            factibilidadNegocio = "factible";
            js.MostrarMensaje("El negocio es factible", "Su negocio esta duro duro. Meta mano de una vez.", TipoMensajeSweetAlert.success);

        }
        else if (porcentajeFactibilidad >= 50)
        {
            factibilidadNegocio = "medianamente factible";
            js.MostrarMensaje("El negocio es medianammente factible", "Buneo manito, esta desente su idea pero tiene que ponerse a investigar mas para que no lo tumben.", TipoMensajeSweetAlert.warning);
        }
        else
        {
            factibilidadNegocio = "no factible";
            js.MostrarMensaje("El negocio no es factible", "Buneo manito, su negocio lo veo feo para la foto y no veo que sea factible.", TipoMensajeSweetAlert.error);
        }

        return factibilidadNegocio;
    }


    //Partes adicionales
    private async Task GuardarEncuesta()
    {
        try{
            await encuestaService.GuardarRespuestas(preguntas);
        }catch(Exception excepcion){}
    }

    private async Task NotificatiónInicio()
    {
        try{
            await js.MostrarMensaje("¡Bienvenido!", "Realizaras una encuesta para verificar si tu negocio es factible o no. Presiona el boton 'OK' para iniciar.", TipoMensajeSweetAlert.info);
        }catch(Exception execption){}
    }
}
